{% extends 'base1.html' %} {% load crispy_forms_tags %} {% block content %}
{%include 'visit/navbar1.html' %}

<!---<div class="container">
  <div class="m-5">
    <h4 class="display-3 text-center">Change Password</h4>
  </div>
  <hr />
  <div class="col col-8">
  <form method="POST" novalidate>
    {% csrf_token %} 
    {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %}
            <p> {{ error }} </p>
        {% endfor %} 
    {% endif %} 
    
    {% for fm in form %} 
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br/><br/>
    {% endfor %}
    <input type="submit" value="Save" />
  </form>
  </div>
</div>-->

{% block core_css%}

<style>
  body {
    background: #eee;
  }

  /*  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }*/

  /* Style the submit button */
  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
  }

  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }

  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
</style>

{% endblock core_css%}

<div class="container">
  <div class="row">
    <div
      class="col-md-5 mx-auto my-5 bg-light p-4"
      style="
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      "
    >
      <form method="POST">
        {% csrf_token %}
        <h1>Change Password...</h1>
        <hr />
        {% if msz %}
        <div class="alert {{col}}">{{msz}}</div>
        {% endif %}
        <div class="form-group">
          <label><b>Current Password</b></label>
          <input type="password" class="form-control" name="cpwd" required />
        </div>
        <div class="form-group">
          <label><b>New Password</b></label>
          <input
            type="password"
            id="pass"
            name="npwd"
            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
            title="Must contain at least one number, one special character,one uppercase and lowercase letter, and at least 8 or more characters"
            onkeyup="check_pass()"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label><b>Confirm New Password</b></label>
          <input
            type="password"
            class="form-control"
            id="cpass"
            required
            onkeyup="check_pass()"
          />
        </div>
        <span id="msg"></span>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-warning"
            value="Change Password"
            id="sbbtn"
          />
        </div>
      </form>
    </div>
    <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="letter">A <b>lowercase</b> letter</p>
      <p id="capital">A <b>capital (uppercase)</b> letter</p>
      <p id="number">A <b>number</b></p>
      <p id="length">Minimum <b>8 characters</b></p>
    </div>
  </div>
</div>
<script>
  function check_pass() {
    let p = $("#pass").val().trim();
    let cp = $("#cpass").val().trim();

    if (p == cp) {
      $("#pass").css("border", "1px solid green");
      $("#cpass").css("border", "1px solid green");
      // $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
      // $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
      $("#sbbtn").removeAttr("disabled");
    } else {
      $("#pass").css("border", "1px solid red");
      $("#cpass").css("border", "1px solid red");
      // $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
      // $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

      $("#sbbtn").attr("disabled", "disabled");
    }
  }
</script>

{% endblock content%}
